Package: rusty-util
Version: 1.0-2
Section: base
Priority: optional
Architecture: amd64
Depends: coreutils (>= 5.0-5)
Maintainer: Eulegang <eulegang@eulegang.dev>
Description: basic package for installing
 basic rust utilities
